body {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif;
    color: #2D3748;
    font-size: 18px;
    line-height: 1.6;
    padding: 20px;
}

.grid-container {
    display: grid;
    grid-template-columns: 3fr 0.8fr;
    grid-template-rows: 150px 1fr auto;
    grid-gap: 70px;
    height: 100vh;
}

header h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 36px;
}

/* Headshot image styling */
.headshot {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #333;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* for div with ID header */
#header {
    grid-column: 1 / -1;            /* Spans the entire width */
    grid-row: 1;
    background-color: #63B3ED;
    padding: 20px;
    text-align: center;
    margin-top: -15px;
    height: fit-content;
    color: #FFFFFF;
}

/* Flexbox container for actual header element*/
header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;                      /* Adds space between the elements */
    flex-direction: column;         /* Stack elements vertically */
}

/* blog posts */
#blogs {
    grid-column: 1 / 3; /* Spans first two columns */
    grid-row: 2;
    width: 66%;
    float: right;
    margin-top: 14%; /* Add spacing between the header and the blog posts */
    margin-right: 10%;
}

/* Blog 1 - relativity image right of the first paragraph */
#blog1 img {
    float: right;
    margin-left: 20px;
    margin-bottom: 20px;
}

/* Blog 2 - computers image left of the first paragraph */
#blog2 img {
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
}

.blog-title {
   font-size: 32px;
   color: #48BB78;
   font-family: Georgia, 'Times New Roman', Times, serif !important;
}

.date-author {
    color: #718096;
}

/* sidebar */
#sidebar {
    grid-column: 3;                 /* Positioned in the third column */
    grid-row: 2;                    /* Inline with blogs */
    float: left;
    margin-top: 60%;                /* Add spacing between the header and the sidebar */
    margin-right: 35%;
}

#about-sidebar {
    background-color: #E2E8F0;
    float: left;
    color: #000000;
    padding: 20px;
}

.sidebar-heading {
    color: #48BB78;
}

/* footer */
#footer {
    grid-column: 1 / -1;            /* Spans the entire width */
    grid-row: 3;                    /* Placed in a new row below everything */
    background-color: #2C5282;
    color: #FFFFFF;
    text-align: center;
    padding: 5px;                   /* Adds padding for better spacing */
}

aside ul {
    list-style-type: none;
    color: #4299E1;
}

/* Social media sidebar links */
#sidebar ul li a {
    color: #4299E1; /* Apply the color to the anchor tags */
    text-decoration: none; /* Remove underline from links */
}

#sidebar ul li a:hover {
    text-decoration: underline; /* Optional: Add underline on hover */
}